<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Failure</title>
</head>

<body>
  <!-- this page will be replaced with login page later -->
  <h1>Login failed!</h1>
</body>

</html>