<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This is the message page where to show messages.</h1>

  <a href="/create-new-message">Create a new message</a>


  <% if (locals.messages) {%>
  <ul>
    <% messages.forEach(function(message) { %>
    <li><%= message.title %> <%= message.created_at %> <%= message.message %> <%= message.author %></li>
    <% }); %>
  </ul>
  <% } %>
</body>

</html>